@use '@styles/styles';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-md);
  top: 0;
  z-index: 1000;
  font-family: "Noto Sans", sans-serif;
  color: var(--on-surface);

  &__left {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
  }
}

.course-editor {
  min-height: 100vh;
  background-color: var(--surface-bright);
  font-family: 'Noto Sans', sans-serif;
  display: flex;

  &__add-more {
   z-index: 0;
    display: flex;
  }

  &__sidebar {
    max-width: 400px;
    height: 100%;
    flex-shrink: 0;
    z-index: 1000;
    scroll-behavior: smooth;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background-color: var(--surface-bright);
      -webkit-appearance: none;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--surface-bright);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--surface-bright);
      border-radius: 8px;
      border: none;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--surface-container-highest);
    }

  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
    width:100%;
  }

  &__title {
    @extend .heading-4;
    color: var(--on-surface);
    margin: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--padding-lg);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    max-width: 900px;
    padding: 0 var(--padding-md);
    align-items: center;
    width: 100%;
  }
}
