@use '@styles/styles';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-md);
  font-family: 'Noto Sans', sans-serif;
  color: var(--on-surface);
  background: var(--surface-container-lowest);
  border-bottom: 1px solid var(--outline-alt);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__left, &__right {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
  }
}

.chapter-add {
  position: absolute;
  top: 2px;
  left: 270px;
}

.course-editor {
  min-height: 100vh;
  background-color: var(--surface-bright);
  font-family: 'Noto Sans', sans-serif;
  display: flex;

  &__add-more {
    z-index: 0;
    display: flex;
  }

  &__sidebar {
    max-width: 400px;
    height: 100%;
    flex-shrink: 0;
    z-index: 1000;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      background-color: var(--surface-bright);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--surface-bright);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--surface-bright);
      border-radius: 8px;
      border: none;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--surface-container-highest);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
    width: 100%;
  }

  &__title {
    @extend .heading-4;
    color: var(--on-surface);
    margin: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--padding-lg);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    max-width: 800px;
    padding: 0 var(--padding-md);
    align-items: center;
    width: 100%;
    margin-top: 64px;
  }
}
