@use '@styles/styles';

.content-card {
  background-color: var(--surface-container-lowest);
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--radius-lg);
  border: 1px solid var(--outline-alt);
  width: 100%;
  font-family: 'Noto Sans', sans-serif;

  &--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    gap: var(--gap-xl);
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__actions {
    display: flex;
    gap: var(--gap-md);
  }
}

.chapter--title {
  @extend .heading-2;
  color: var(--primary);
  margin-bottom: 0;
}

.chapter--subtitle {
  @extend .heading-4;
  color: var(--on-primary-container);
  margin: 0;
}

.section--title {
  @extend .heading-3;
  color: var(--primary);
  margin: 0;
}

.section--subtitle {
  @extend .body-large;
  color: var(--on-primary-container);
}

