@use "@styles/styles";

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  cursor: pointer;

  backface-visibility: hidden;
  perspective: 1000px;
  transition: outline 0.2s ease-in-out;
  font-family: "Noto Sans", system-ui sans-serif;

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &--filled {

    // Button Types
    &--primary{
      @extend .label-bold;
      background-color: var(--primary);
      color: var(--on-primary);
      border: 1px solid var(--primary);


      &:hover {
        opacity: 0.8;
      }
    }

    &--secondary {
      @extend .label-bold;
      background-color: var(--secondary);
      color: var(--on-secondary);
      border: 1px solid var(--secondary);
    }

    &--tertiary {
      @extend .label-bold;
      background-color: var(--surface-container-lowest);
      color: var(--on-surface-variant);
      border: 1px solid var(--outline-variant);
    }

    &--error {
      @extend .label-bold;
      background-color: var(--error);
      color: var(--on-error);
      border: 1px solid var(--error);
    }


  }

  &--ghost {

    &--primary{
      color: var(--primary);
      background-color: transparent;
      border: none;
      padding: 6px !important;

    }

    &--tertiary{
      color: var(--error);
      background-color: transparent;
      border: none;
      padding: 6px !important;

    }
  }

  &--flat {

    &--primary{
      @extend .label-bold;
      background-color: var(--primary-fixed);
      color: var(--on-primary-fixed);
      border: 1px solid var(--primary-fixed);

      &:hover {
        opacity: 0.8;
      }
    }


  }

  // Button Sizes
  &--small {
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 14px;
    line-height: 20px;
  }

  &--medium {
    padding: var(--padding-sm) var(--padding-md);
    font-size: 16px;
    line-height: 24px;
  }
}