.course-grid-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 32px 16px;
}

.course-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  grid-gap:16px;
}

@media (min-width: 768px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .course-grid-container {
    padding: 32px 24px;
  }
}

@media (min-width: 1024px) {
  .course-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .course-grid-container {
    padding: 32px;
}
}

@media (max-width: 1024px) {
  html, body, .landing {
    &::-webkit-scrollbar {
      display: none !important;
    }
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow-y: auto !important;
  }
}