.hero-container, .section-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 16px;
}

.instructor-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.section-container {
  display: flex;
  gap: var(--gap-xl);
}

.section-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-lg);
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-md);
  top: 0;
  z-index: 1000;
  font-family: 'Noto Sans', sans-serif;
  color: var(--on-surface);

  &__left {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
  }
}