.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  transition: width 0.3s ease;
  justify-items: center;
  align-items: stretch;
  background-color: var(--surface-container-lowest);
  height: calc(100vh - 71px);
  border-right: 1px solid var(--outline-alt);
  position: fixed;
  top: 71px;
  left: 0;

  &--closed {
    width: 0;
    padding: 0;

    .sidebar__content {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--open {
    .toggle--icon {
      transform: rotate(0deg);
    }
  }

  &__content {
    padding: var(--padding-md);
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--surface-bright);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--surface-container-highest);
      border-radius: 8px;
      border: 2px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--surface-container-highest);
    }
  }
}

.toggle {
  position: fixed;
  bottom: 20px;
  left: 320px;
  background-color: var(--surface);
  border: 1px solid var(--outline-alt);
  padding: var(--padding-xs);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;

  &--icon {
    color: var(--primary);
    transition: transform 0.3s ease;
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 960px) {
  .sidebar {
    position: fixed;
    width: 100%;
    background-color: var(--surface-container-low);
    top: 64px;
    left: 0;
    z-index: 1000;

    &--closed {
      width: 0;
      padding: 0;
    }

    &--open {
      padding: 0;
    }

    &.sidebar--open {
      width: 100%;

      .sidebar__content {
        opacity: 1;
        visibility: visible;
        align-items: stretch;
        width: 94%;
      }
    }
  }
}
