@use "@styles/styles";

.bottom-nav-main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bottom-nav-bar {
  position: fixed;
  display: flex;
  bottom: 10px;
  align-items: center;
  background-color: var(--surface-container-low);
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-lg);
  width: 300px;
  border-radius: var(--radius-xl);
  border: 1px solid var(--outline-variant);
}

.bottom-nav-item {
  display: flex;
  align-content: space-between;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 960px) {
  .bottom-nav-bar {
    display: none;
  }
}