:root {
  /* Primary Color */
  --p-0: #000000;
  --p-10: #065B19;
  --p-20: #06761F;
  --p-30: #0B9C2B;
  --p-40: #0EC02B;
  --p-50: #26C640;
  --p-60: #3ECD55;
  --p-70: #56D36B;
  --p-80: #6ED980;
  --p-90: #86DF95;
  --p-95: #93E3A0;
  --p-99: #FFFFFF;
  --p-100: #FFFFFF;

  /* Secondary Color */
  --s-0: #FFFFFF;
  --s-10: #9A7A09;
  --s-20: #C39A09;
  --s-30: #DBAE0D;
  --s-40: #F7C40F;
  --s-50: #F8CA27;
  --s-60: #F9D03F;
  --s-70: #F9D657;
  --s-80: #FADC6F;
  --s-90: #FBE187;
  --s-95: #FBE493;
  --s-99: #FFFFFF;
  --s-100: #FFFFFF;

  /* Neutral Colors */
  --n-0: #000000;
  --n-6: #141312;
  --n-10: #201F1E;
  --n-12: #252422;
  --n-17: #2F2D2A;
  --n-20: #33312E;
  --n-22: #373532;
  --n-24: #3B3937;
  --n-30: #4A483F;
  --n-40: #646256;
  --n-50: #7E7A6E;
  --n-60: #979388;
  --n-70: #B1ADA2;
  --n-80: #CAC5BA;
  --n-87: #D8D3C9;
  --n-90: #E0DCD2;
  --n-92: #E5E1D8;
  --n-94: #E9E6DE;
  --n-95: #ECE9E2;
  --n-96: #EEE9E3;
  --n-98: #F6F4EF;
  --n-99: #F9F9F9;
  --n-100: #FFFFFF;

  /* Error Colors */
  --e-0: #000000;
  --e-10: #850909;
  --e-20: #A60B0B;
  --e-30: #C71111;
  --e-40: #E81414;
  --e-50: #EA2C2C;
  --e-60: #ED4444;
  --e-70: #EF5C5C;
  --e-80: #F17474;
  --e-90: #F38C8C;
  --e-95: #F4A3A3;
  --e-99: #FFFFFF;
  --e-100: #FFFFFF;


  /* Neutral */
  --neutral-0: #000000;
  --neutral-10: #1A1A1A;
  --neutral-20: #2C2C2C;
  --neutral-30: #404040;
  --neutral-40: #555555;
  --neutral-50: #757575;
  --neutral-60: #969696;
  --neutral-70: #B8B8B8;
  --neutral-80: #DADADA;
  --neutral-90: #EBEBEB;
  --neutral-95: #F5F5F5;
  --neutral-99: #FCFCFC;
  --neutral-100: #FFFFFF;
}

.light {
  /* Primary */
  --primary: var(--p-40);
  --on-primary: var(--n-100);
  --primary-container: color-mix(in srgb, var(--primary-base) 15%, white);
  --on-primary-container: color-mix(in srgb, var(--primary-base) 90%, black);

  /* Secondary */
  --secondary: var(--secondary-base);
  --on-secondary: var(--neutral-10);
  --secondary-container: color-mix(in srgb, var(--secondary-base) 15%, white);
  --on-secondary-container: color-mix(in srgb, var(--secondary-base) 90%, black);

  /* Surface */
  --surface: var(--neutral-100);
  --surface-dim: var(--neutral-90);
  --surface-bright: var(--neutral-100);

  /* Surface Containers */
  --surface-container-lowest: var(--neutral-100);
  --surface-container-low: var(--neutral-99);
  --surface-container: var(--neutral-95);
  --surface-container-high: var(--neutral-90);
  --surface-container-highest: var(--neutral-80);

  /* Content */
  --on-surface: var(--neutral-10);
  --on-surface-variant: var(--neutral-30);

  /* Outline */
  --outline: var(--neutral-50);
  --outline-variant: var(--neutral-80);

  /* Inverse */
  --inverse-surface: var(--neutral-20);
  --inverse-on-surface: var(--neutral-95);
  --inverse-primary: color-mix(in srgb, var(--primary-base) 80%, white);
}

.dark {
  /* Primary */
  --primary: color-mix(in srgb, var(--primary-base) 80%, white);
  --on-primary: var(--neutral-100);
  --primary-container: color-mix(in srgb, var(--primary-base) 30%, black);
  --on-primary-container: color-mix(in srgb, var(--primary-base) 90%, white);

  /* Secondary */
  --secondary: color-mix(in srgb, var(--secondary-base) 80%, white);
  --on-secondary: color-mix(in srgb, var(--secondary-base) 20%, black);
  --secondary-container: color-mix(in srgb, var(--secondary-base) 30%, black);
  --on-secondary-container: color-mix(in srgb, var(--secondary-base) 90%, white);

  /* Surface */
  --surface: var(--neutral-10);
  --surface-dim: var(--neutral-10);
  --surface-bright: var(--neutral-20);

  /* Surface Containers */
  --surface-container-lowest: var(--neutral-0);
  --surface-container-low: var(--neutral-10);
  --surface-container: var(--neutral-20);
  --surface-container-high: var(--neutral-30);
  --surface-container-highest: var(--neutral-40);

  /* Content */
  --on-surface: var(--neutral-90);
  --on-surface-variant: var(--neutral-80);

  /* Outline */
  --outline: var(--neutral-60);
  --outline-variant: var(--neutral-30);

  /* Inverse */
  --inverse-surface: var(--neutral-90);
  --inverse-on-surface: var(--neutral-20);
  --inverse-primary: var(--primary-base);
}