:root {
  --font-family-base: 'Noto Sans', system-ui, sans;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;

  --line-height-sm: 1.25;
  --line-height-base: 1.5;
  --line-height-lg: 1.75;

  --font-weight-base: 400;
  --font-weight-alt: 700;
}
