:root {
  --padding-xs: 12px;
  --padding-sm: 16px;
  --padding-md: 20px;
  --padding-lg: 24px;
  --padding-xl: 30px;

  --gap-xxs: 4px;
  --gap-xs: 8px;
  --gap-sm: 12px;
  --gap-md: 16px;
  --gap-lg: 20px;
  --gap-xl: 24px;
}