.course-description {
  display: flex;
  background-color: var(--surface-container-lowest);
  border-radius: var(--radius-md);
  padding: var(--padding-lg);
  border: 1px solid var(--outline-alt);
  flex-direction: column;
}

.label-bold {
  color: var(--on-surface);
}