@use "@styles/styles";

.about-hero-main {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--padding-md);
  border-radius: var(--radius-md);
  color: var(--on-surface);
}

.about-header {
  @extend .heading-1;
  margin-bottom: 0;
}

.about-subheader {
  @extend .body-large;
  font-weight: 400;
}

.subheader-container {
  width: 800px;
}