@use "@/styles/colors";

:root {
  body {
    margin: 100px;
    background: var(--gradient-bg);
    color: var(--color-text-primary);
    font-family: var(--font-family-base), system-ui sans-serif;
    line-height: var(--line-height-base);
    padding: 0;
    transition: background var(--transition-base),
    color var(--transition-base);
  }
  a {
    text-decoration: inherit;
  }
}