@use "@/styles/styles";

:root {
  body {
    margin: 0;
    background: var(--surface-bright, linear-gradient(127deg, #F7F7F7 7.44%, #F1EEE5 97.99%));
    font-family: var(--font-primary), "Noto Sans", system-ui sans;
    padding: 0;
  }
  a {
    text-decoration: inherit;
  }
}