@use '@styles/styles';

.text-field-base {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 100%;

  .label {
    @extend .label-bold;
    color: var(--on-surface);
  }
}

.text-input {
  @extend .body;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-md);
  border: 1px solid var(--outline-variant);
  color: var(--on-surface);
  background-color: transparent;

  &:focus {
    outline: 2px solid var(--primary);
  }
}

.text-area{
  @extend .body;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-md);
  border: 1px solid var(--outline-variant);
  color: var(--on-surface);
  background-color: transparent;
  height: 200px;

  &:focus {
    outline: 2px solid var(--primary);
  }
}


